<form method="post" action="{{ path('reception_delete', {'idReception': reception.idReception}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reception.idReception) }}">
    <button class="btn">Delete</button>
</form>
