<form method="post" action="{{ path('prestataire_delete', {'idPrestataire': prestataire.idPrestataire}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestataire.idPrestataire) }}">
    <button class="btn">Delete</button>
</form>
