<form method="post" action="{{ path('production_delete', {'idProduction': production.idProduction}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ production.idProduction) }}">
    <button class="btn">Delete</button>
</form>
