<form method="post" action="{{ path('eclosoire_utilise_delete', {'idEclosoireUtilise': eclosoire_utilise.idEclosoireUtilise}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eclosoire_utilise.idEclosoireUtilise) }}">
    <button class="btn">Delete</button>
</form>
