{% extends 'base.html.twig' %}

{% block title %}Edit EclosoireUtilise{% endblock %}

{% block body %}
    <h1>Edit EclosoireUtilise</h1>

    {{ include('eclosoire_utilise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('eclosoire_utilise_index') }}">back to list</a>

    {{ include('eclosoire_utilise/_delete_form.html.twig') }}
{% endblock %}
